{
	email {$ACME_EMAIL}
	auto_https disable_redirects
	cert_issuer acme {
		disable_tlsalpn_challenge
	}
}

http://{$ARBGAMEFI_DOMAIN}, http://www.{$ARBGAMEFI_DOMAIN}, http://dapp.{$ARBGAMEFI_DOMAIN} {
	redir https://{$ARBGAMEFI_DOMAIN}{uri} permanent
}

www.{$ARBGAMEFI_DOMAIN}, dapp.{$ARBGAMEFI_DOMAIN} {
	redir https://{$ARBGAMEFI_DOMAIN}{uri} permanent
}

{$ARBGAMEFI_DOMAIN} {
	encode zstd gzip

	reverse_proxy web:3000 {
		health_uri /api/healthz
		health_interval 30s
		health_timeout 5s
	}
}
